<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite">

    <listeners>
        <listener class-name="com.akanksha.automation.listeners.TestListener"/>
    </listeners>

    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>